body {
  background-color: rgba(189, 204, 52, 0.61);
  background-image: url(141434.jpg);
}
h1 {
  text-align: center;
  color: rgb(224, 60, 60);
}
#container {
  width: 1000px;
  margin: auto;

  height: 550px;
  background-color: rgba(233, 158, 158, 0);
  border-radius: 5%;
  position: relative;
}
#Calculator {
  width: 320px;
  height: 520px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  border-radius: 5%;
}
#result {
  height: 100px;
}
#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: rgb(189, 189, 38);
}
#empty {
  background-color: white;
}
#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}
#keyboard {
  height: 400px;
}
.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(236, 227, 227);
}
.number,
.operator {
  cursor: pointer;
}
.operator:active,
.number:active {
  font-size: 20px;
}
button:nth-child(4) {
  font-size: 20px;
  background-color: yellow;
}
button:nth-child(8) {
  font-size: 20px;
  background-color: rgb(0, 204, 255);
}
button:nth-child(12) {
  font-size: 20px;
  background-color: rgb(4, 0, 255);
}
button:nth-child(16) {
  font-size: 20px;
  background-color: rgb(255, 0, 200);
}
button:nth-child(20) {
  font-size: 20px;
  background-color: rgb(255, 0, 0);
}
